@media screen and (max-width:600px){
    .btn-start{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .divide{
        text-align: center;
        padding-bottom: 10px;
    }
    .example-form {
        padding-top: 20px;
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    .btn-join{
        text-align: center;
    }
    .example-full-width {
        width: 100%;
    }
}
@media screen and (min-width:600px){ 
    .btn-start{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 30px;
    }
    .divide{
        text-align: center;
        padding-bottom: 30px;
    }
    .btn-join{
        padding-top: 30px;
    }
    .example-form {
        padding-top: 20px;
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    
    .example-full-width {
        width: 100%;
    }
}

.container-fluid, .container-fluid .entryRow{
    height: 100%;
}

.game-row{
    background-color: white;
    h2, p{
        display: inline-block;
        margin : 5px 1em;
    }
}

.bg{
    background-image: url('/assets/newYearBg.jpg');
    background-size: cover;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    /* Hidden by default  display: none;*/
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }